<!DOCTYPE html>
<html>

<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 85%;
            width: 85%;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="container bg-light pb-4 pt-4 mt-5 mb-5">
    <form action="localhost:5000/geocoder/enebakkveien196c/tormodsvei+16+lorenskog" method="post">
        <h1 class="display-4 text-center">Bus simulator</h1>

        <div class="form-group">
            <label for="exampleInputEmail1">Fra</label>
            <input type="email" class="form-control" id="from" placeholder="kek city bitch">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Til</label>
            <input type="email" class="form-control" id="to" placeholder="kek city bitch">
        </div>
        <div onclick="doStuff()" class="btn mt-3 btn-primary">Søk</div>
    </form>
</div>
<div id="map"></div>

<script>
    let map;
    let myLatLng = {lat: 59.8900403, lng: 10.8107293};
    let marker;
    let i = 0;
    let done = false;
    let myArr;

        function initMap() {
        const inputFrom = document.getElementById('from');
        const inputTo = document.getElementById('to');

        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 14
        });

        marker = new google.maps.Marker({
            map: map,
        });

        marker.setPosition(myLatLng);
        new google.maps.places.Autocomplete(inputFrom);
        new google.maps.places.Autocomplete(inputTo);

    }

    function intervalFunc() {
        if(myArr[i]) {
            myLatLng.lat = myArr[i][0]
            myLatLng.lng = myArr[i][1]
            marker.setPosition(myLatLng);
            i++;
        }
    }

    function getData() {
        myArr = [];
        const from = document.getElementById('from').value.replace(' ', '+').replace(',', '')
        const to = document.getElementById('to').value.replace(' ', '+').replace(',', '')
        document.getElementById('from').value = '';
        document.getElementById('to').value = '';

        fetch(`http://localhost:5000/geocoder/${from}/${to}`)
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson) {
                myArr = myJson;
            })
            .catch(function (error) {
                console.log("Error: " + error);
            });
    }

    function doStuff() {
        getData();
        setInterval(intervalFunc, 1000);
    }



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIowGjwaajWBpRnebeFK_K0ut_RUCGYxs&libraries=places&callback=initMap"
        async defer></script>

</body>

</html>
