<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 85%;
            width: 85%;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="container bg-light pb-4 pt-4 mt-5 mb-5">
    <form action="localhost:5000/geocoder/enebakkveien196c/tormodsvei+16+lorenskog" method="post">
        <h1 class="display-4 text-center">Bus simulator</h1>

        <div class="form-group">
            <label for="exampleInputEmail1">Fra</label>
            <input type="email" class="form-control" id="from" placeholder="kek city bitch">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Til</label>
            <input type="email" class="form-control" id="to" placeholder="kek city bitch">
        </div>
        <div onclick="doStuff()" class="btn mt-3 btn-primary">Søk</div>
    </form>
</div>
<div id="map"></div>

<script>
    let map;
    let myLatLng = {lat: 59.8900403, lng: 10.8107293};
    let marker;
    let i = 0;

    function initMap() {
        const inputFrom = document.getElementById('from');
        const inputTo = document.getElementById('to');

        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 14
        });

        marker = new google.maps.Marker({
            map: map,
        });

        marker.setPosition(myLatLng);

        new google.maps.places.Autocomplete(inputFrom);
        new google.maps.places.Autocomplete(inputTo);

    }

    function intervalFunc() {
        myLatLng.lat = myArr[i][0]
        myLatLng.lng = myArr[i][1]
        marker.setPosition(myLatLng);
        i++;
    }

    function getData() {

        const from = document.getElementById('from').value.replace(' ', '+').replace(',', '')
        const to = document.getElementById('to').value.replace(' ', '+').replace(',', '')
        document.getElementById('from').value = '';
        document.getElementById('to').value = '';

        fetch(`http://localhost:5000/geocoder/${from}/${to}`)
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson) {
                myArr = myJson;
            })
            .catch(function (error) {
                console.log("Error: " + error);
            });
    }

    function doStuff() {

        getData();
        setInterval(intervalFunc, 1000);
    }

    let myArr = [
        [
            59.89002,
            10.81175
        ],
        [
            59.89069,
            10.81072
        ],
        [
            59.89112,
            10.80992
        ],
        [
            59.89149,
            10.80925
        ],
        [
            59.89154,
            10.80917
        ],
        [
            59.89197,
            10.80862
        ],
        [
            59.8923,
            10.80831
        ],
        [
            59.89252,
            10.80809
        ],
        [
            59.89343,
            10.80719
        ],
        [
            59.89379,
            10.80684
        ],
        [
            59.89407,
            10.80651
        ],
        [
            59.89447,
            10.80584
        ],
        [
            59.89468,
            10.80537
        ],
        [
            59.89494,
            10.80495
        ],
        [
            59.89499,
            10.80495
        ],
        [
            59.89501,
            10.80495
        ],
        [
            59.89503,
            10.80494
        ],
        [
            59.89503,
            10.80499
        ],
        [
            59.89505,
            10.80507
        ],
        [
            59.89508,
            10.80517
        ],
        [
            59.89518,
            10.80543
        ],
        [
            59.89529,
            10.80598
        ],
        [
            59.89543,
            10.80666
        ],
        [
            59.89559,
            10.80724
        ],
        [
            59.89574,
            10.80778
        ],
        [
            59.89589,
            10.80836
        ],
        [
            59.89612,
            10.8092
        ],
        [
            59.89615,
            10.80926
        ],
        [
            59.89625,
            10.80942
        ],
        [
            59.89641,
            10.80987
        ],
        [
            59.8966,
            10.81036
        ],
        [
            59.89685,
            10.81099
        ],
        [
            59.89733,
            10.8121
        ],
        [
            59.89816,
            10.8138
        ],
        [
            59.89859,
            10.81457
        ],
        [
            59.89889,
            10.81506
        ],
        [
            59.89933,
            10.81571
        ],
        [
            59.89998,
            10.81661
        ],
        [
            59.90104,
            10.81793
        ],
        [
            59.9013,
            10.81824
        ],
        [
            59.90186,
            10.81885
        ],
        [
            59.90215,
            10.81916
        ],
        [
            59.90271,
            10.81969
        ],
        [
            59.90324,
            10.82015
        ],
        [
            59.90351,
            10.82036
        ],
        [
            59.90384,
            10.82056
        ],
        [
            59.90418,
            10.82072
        ],
        [
            59.90452,
            10.82083
        ],
        [
            59.90488,
            10.82091
        ],
        [
            59.90611,
            10.821
        ],
        [
            59.90667,
            10.82104
        ],
        [
            59.9069,
            10.82106
        ],
        [
            59.90721,
            10.82104
        ],
        [
            59.90739,
            10.82099
        ],
        [
            59.90752,
            10.82094
        ],
        [
            59.90773,
            10.82082
        ],
        [
            59.90788,
            10.82071
        ],
        [
            59.90813,
            10.82048
        ],
        [
            59.90915,
            10.81942
        ],
        [
            59.90934,
            10.81923
        ],
        [
            59.90983,
            10.81882
        ],
        [
            59.9102,
            10.81858
        ],
        [
            59.91082,
            10.81829
        ],
        [
            59.91126,
            10.81808
        ],
        [
            59.91172,
            10.8178
        ],
        [
            59.91206,
            10.81752
        ],
        [
            59.91234,
            10.81726
        ],
        [
            59.91266,
            10.81692
        ],
        [
            59.91336,
            10.81617
        ],
        [
            59.91392,
            10.81557
        ],
        [
            59.91511,
            10.81434
        ],
        [
            59.91595,
            10.8135
        ],
        [
            59.91634,
            10.81308
        ],
        [
            59.91671,
            10.8126
        ],
        [
            59.91696,
            10.81219
        ],
        [
            59.91726,
            10.81154
        ],
        [
            59.91754,
            10.81086
        ],
        [
            59.9177,
            10.81047
        ],
        [
            59.91775,
            10.81034
        ],
        [
            59.91806,
            10.80973
        ],
        [
            59.9183,
            10.80935
        ],
        [
            59.91869,
            10.80888
        ],
        [
            59.91897,
            10.80866
        ],
        [
            59.91929,
            10.80849
        ],
        [
            59.91963,
            10.80837
        ],
        [
            59.91967,
            10.80835
        ],
        [
            59.92017,
            10.80825
        ],
        [
            59.92043,
            10.8083
        ],
        [
            59.92111,
            10.8082
        ],
        [
            59.92137,
            10.80821
        ],
        [
            59.92143,
            10.80822
        ],
        [
            59.92192,
            10.80828
        ],
        [
            59.92212,
            10.80834
        ],
        [
            59.92229,
            10.80842
        ],
        [
            59.92242,
            10.80854
        ],
        [
            59.92255,
            10.80872
        ],
        [
            59.92272,
            10.80906
        ],
        [
            59.9228,
            10.80936
        ],
        [
            59.92288,
            10.80977
        ],
        [
            59.92293,
            10.81016
        ],
        [
            59.92299,
            10.81038
        ],
        [
            59.92306,
            10.81107
        ],
        [
            59.92309,
            10.81154
        ],
        [
            59.92317,
            10.81274
        ],
        [
            59.92324,
            10.81414
        ],
        [
            59.92327,
            10.81501
        ],
        [
            59.92325,
            10.81767
        ],
        [
            59.9232,
            10.81889
        ],
        [
            59.92312,
            10.82012
        ],
        [
            59.923,
            10.82173
        ],
        [
            59.92281,
            10.82417
        ],
        [
            59.92275,
            10.82495
        ],
        [
            59.92268,
            10.8261
        ],
        [
            59.92266,
            10.82699
        ],
        [
            59.92267,
            10.8277
        ],
        [
            59.92275,
            10.82864
        ],
        [
            59.9229,
            10.82962
        ],
        [
            59.92313,
            10.83072
        ],
        [
            59.92325,
            10.83133
        ],
        [
            59.92342,
            10.83235
        ],
        [
            59.92356,
            10.83348
        ],
        [
            59.92362,
            10.83385
        ],
        [
            59.92359,
            10.83538
        ],
        [
            59.92357,
            10.83858
        ],
        [
            59.92361,
            10.84083
        ],
        [
            59.92366,
            10.84153
        ],
        [
            59.92376,
            10.8428
        ],
        [
            59.92393,
            10.84428
        ],
        [
            59.92409,
            10.8453
        ],
        [
            59.92425,
            10.84626
        ],
        [
            59.92444,
            10.84719
        ],
        [
            59.92477,
            10.84863
        ],
        [
            59.92526,
            10.85067
        ],
        [
            59.92559,
            10.8522
        ],
        [
            59.92577,
            10.85323
        ],
        [
            59.92633,
            10.8566
        ],
        [
            59.92656,
            10.8577
        ],
        [
            59.92672,
            10.85839
        ],
        [
            59.92691,
            10.85908
        ],
        [
            59.92711,
            10.85972
        ],
        [
            59.92748,
            10.86087
        ],
        [
            59.92782,
            10.86176
        ],
        [
            59.92807,
            10.86239
        ],
        [
            59.92842,
            10.86313
        ],
        [
            59.92897,
            10.86416
        ],
        [
            59.92946,
            10.86499
        ],
        [
            59.92965,
            10.86531
        ],
        [
            59.93053,
            10.86683
        ],
        [
            59.9311,
            10.86789
        ],
        [
            59.93152,
            10.86879
        ],
        [
            59.93183,
            10.86957
        ],
        [
            59.9321,
            10.87036
        ],
        [
            59.9323,
            10.87103
        ],
        [
            59.93263,
            10.87218
        ],
        [
            59.93344,
            10.8753
        ],
        [
            59.93459,
            10.87977
        ],
        [
            59.93483,
            10.8808
        ],
        [
            59.9351,
            10.88193
        ],
        [
            59.93545,
            10.88319
        ],
        [
            59.93568,
            10.88406
        ],
        [
            59.93665,
            10.88783
        ],
        [
            59.9377,
            10.89193
        ],
        [
            59.93825,
            10.89415
        ],
        [
            59.93855,
            10.89551
        ],
        [
            59.93888,
            10.89726
        ],
        [
            59.93903,
            10.89821
        ],
        [
            59.93932,
            10.90026
        ],
        [
            59.93944,
            10.90136
        ],
        [
            59.93952,
            10.90245
        ],
        [
            59.93954,
            10.9032
        ],
        [
            59.93955,
            10.90421
        ],
        [
            59.93951,
            10.90553
        ],
        [
            59.93945,
            10.90644
        ],
        [
            59.93933,
            10.90863
        ],
        [
            59.93931,
            10.90959
        ],
        [
            59.93933,
            10.91061
        ],
        [
            59.9394,
            10.91187
        ],
        [
            59.93948,
            10.91279
        ],
        [
            59.93963,
            10.91392
        ],
        [
            59.93996,
            10.91632
        ],
        [
            59.94007,
            10.91755
        ],
        [
            59.94011,
            10.91819
        ],
        [
            59.9401,
            10.91903
        ],
        [
            59.94007,
            10.91989
        ],
        [
            59.94001,
            10.92073
        ],
        [
            59.9398,
            10.92284
        ],
        [
            59.93968,
            10.92332
        ],
        [
            59.93958,
            10.92402
        ],
        [
            59.9395,
            10.92463
        ],
        [
            59.93944,
            10.92508
        ],
        [
            59.93932,
            10.92595
        ],
        [
            59.93913,
            10.92722
        ],
        [
            59.93898,
            10.92799
        ],
        [
            59.93882,
            10.92872
        ],
        [
            59.93857,
            10.92959
        ],
        [
            59.93836,
            10.93028
        ],
        [
            59.93711,
            10.93407
        ],
        [
            59.93677,
            10.93509
        ],
        [
            59.93622,
            10.93656
        ],
        [
            59.93538,
            10.93841
        ],
        [
            59.93484,
            10.93939
        ],
        [
            59.93398,
            10.94075
        ],
        [
            59.93353,
            10.9414
        ],
        [
            59.93209,
            10.94354
        ],
        [
            59.93194,
            10.94363
        ],
        [
            59.93166,
            10.94402
        ],
        [
            59.93109,
            10.94478
        ],
        [
            59.93087,
            10.94512
        ],
        [
            59.93042,
            10.94606
        ],
        [
            59.93025,
            10.94639
        ],
        [
            59.93017,
            10.94648
        ],
        [
            59.92979,
            10.94648
        ],
        [
            59.92955,
            10.94637
        ],
        [
            59.92955,
            10.94634
        ],
        [
            59.92953,
            10.94629
        ],
        [
            59.92948,
            10.94623
        ],
        [
            59.92945,
            10.94622
        ],
        [
            59.92941,
            10.94625
        ],
        [
            59.92937,
            10.94634
        ],
        [
            59.92937,
            10.94646
        ],
        [
            59.92938,
            10.94649
        ],
        [
            59.92931,
            10.94661
        ],
        [
            59.92919,
            10.94695
        ],
        [
            59.92915,
            10.94708
        ],
        [
            59.92899,
            10.94767
        ],
        [
            59.92887,
            10.94833
        ],
        [
            59.92883,
            10.94864
        ],
        [
            59.92881,
            10.94879
        ],
        [
            59.9288,
            10.9488
        ],
        [
            59.92877,
            10.94886
        ],
        [
            59.92876,
            10.949
        ],
        [
            59.92878,
            10.94906
        ],
        [
            59.92839,
            10.9513
        ],
        [
            59.92815,
            10.95254
        ],
        [
            59.92805,
            10.95331
        ],
        [
            59.92804,
            10.95333
        ],
        [
            59.92801,
            10.95339
        ],
        [
            59.928,
            10.95346
        ],
        [
            59.92792,
            10.95351
        ],
        [
            59.92783,
            10.95352
        ],
        [
            59.92765,
            10.95352
        ],
        [
            59.92747,
            10.95352
        ],
        [
            59.92724,
            10.9535
        ],
        [
            59.92723,
            10.95348
        ],
        [
            59.92721,
            10.95347
        ],
        [
            59.92719,
            10.95345
        ],
        [
            59.92714,
            10.95347
        ],
        [
            59.92712,
            10.9535
        ],
        [
            59.92711,
            10.95352
        ],
        [
            59.92711,
            10.95353
        ],
        [
            59.9269,
            10.95356
        ],
        [
            59.92681,
            10.95365
        ],
        [
            59.92675,
            10.95366
        ],
        [
            59.92638,
            10.95372
        ],
        [
            59.92592,
            10.95382
        ],
        [
            59.92564,
            10.95386
        ],
        [
            59.9255,
            10.9539
        ],
        [
            59.92549,
            10.95346
        ],
        [
            59.92545,
            10.9526
        ],
        [
            59.92541,
            10.9516
        ],
        [
            59.92539,
            10.95128
        ]
    ]

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIowGjwaajWBpRnebeFK_K0ut_RUCGYxs&libraries=places&callback=initMap"
        async defer></script>

</body>
</html>
