<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/global-style.css">
    <link rel="stylesheet" href="../css/back-arrow-style.css">
    <link rel="stylesheet" href="../css/ticket-view-style.css">
    <link rel="stylesheet" href="../css/navbar-style.css">
    <script src="https://kit.fontawesome.com/3e291ce1eb.js" crossorigin="anonymous"></script>


    <title>Ticket view</title>
</head>

<body>
    <div id="ticket-container" class="container-fluid">
        <div id="arrow-div" class="d-flex text-white">
            <i id="back-arrow" class="fas fa-chevron-left mx-auto m-auto"></i>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="map-placeholder"></div>
            </div>
        </div>
        <div id="ticket-row" class="row">
            <div class="col-12 d-flex">
                <div id="ticket-large" class="d-flex flex-column">
                    <div id="ticket-large-header" class="w-100 text-white">
                        <div class="d-flex w-100">
                            <p id="destination-txt" class="mx-auto">Tonsenhagen</p>
                        </div>
                        <div class="d-flex w-100">
                            <i class="fas fa-map-marker-alt fa-2x my-auto ml-3"></i>
                            <div class="d-flex w-100">
                                <div id="travel-line" class="my-auto"></div>
                                <div id="bus-circle" class="d-flex my-auto">
                                    <i class="fas fa-bus m-auto"></i>
                                </div>
                                <div id="travel-line-2" class="my-auto"></div>
                            </div>
                            <i class="fas fa-bullseye fa-2x my-auto mr-3"></i>
                        </div>
                        <div id="time-div" class="bg-warning">
                            <p id="arrival-time">12 min</p>
                        </div>
                    </div>
                    <img id="ticket-qr" src="../images/Ticket-QR.svg" alt="" class="m-auto">
                    <!-- <div id="txt-div" class="mt-4">
                        <p class="pl-2 pt-2">Antatt tid til ankomst: 12 min</p>
                    </div> -->

                </div>
            </div>
        </div>
        <div id="nav-menu">
            <div class="nav-cont">

                <button class="nav-btn"><i class="fas fa-search"></i></button>
                <p class="nav-txt">Hjem</p>
            </div>
            <div class="nav-cont">
                <button class="nav-btn"><i class="far fa-map"></i></button>
                <p class="nav-txt">Sanntidskart</p>
            </div>
            <div class="nav-cont">
                <button class="nav-btn nav-active"><i class="fas fa-ticket-alt"></i></button>
                <p class="nav-txt">Billett</p>
            </div>
            <div class="nav-cont">
                <button class="nav-btn"><i class="far fa-user"></i></button>
                <p class="nav-txt">Min Profil</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>