@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

#back-header {
}

#arrow-div  {
    border-radius: 50px;
    background-color: #00866E;
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
    position: fixed;
    z-index: 1;
}

/* #back-arrow {
    color: rgba(204, 234, 228, 0.589);
}

#back-arrow:hover {
    color: #CCEAE4;
    transition: .2s linear;
} */