<div class="container">
    <div class="col"></div>
    <div class="col">
        <h1 class="display-3">
            Hello I am ticket page
        </h1>
    </div>
    <div class="col"></div>
</div>
<div class="container">
    <form action="" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Fra</label>
            <input type="email" class="form-control" id="ticket-location" placeholder="Nåværende Sone 2Ø">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Til</label>
            <input type="email" class="form-control" id="ticket-destination" placeholder="Telthusbakken, Sone 1">
        </div>

        <hr>
        <p>Antall soner: 1</p>
        <hr>
        <button type="submit" class="btn btn-primary">Kjøp billett!</button>
    </form>
</div>