* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', 'benton-sans', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* PLACEHOLDER */
::-webkit-input-placeholder {
  color: #000;
  opacity: 0.4;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* PLACEHOLDER HOVER */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/*PLACEHOLDER FOCUS*/
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

.test-div {
  padding: 60px;
  background-color: #b9b9b9;
  margin: auto;
}

.container {
  padding-bottom: 80px;
}