<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="logo"></div>
        </div><!-- .col -->
    </div><!-- .row -->

    <!-- PAGE TITLE -->
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="page-title">Ny reise</h1>
        </div>
    </div>
    <!-- PAGE TITLE END -->

    <!-- SEARCH BOX AREA -->
    <div class="row">
        <div class="col-12 search-box">
            <form>
                <input type="text" name="ticketSearch" placeholder="Hvor vil du reise?" id="ticket-search">
                <input type="button" name="ticketSearchBtn" id="ticket-search-btn">
            </form>
        </div><!-- .col -->
    </div><!-- .row -->
    <!-- SEARCH BOX AREA END-->

    <div class="row">
        <div class="col-12 mt-4">
            <h2 class="sub-title">Hurtigkjøp</h2>
        </div>
    </div>

    <!-- RECENT TICKETS AREA -->
    <div class="row mt-1">
        <div class="col-12">
            <ul id="recent-tickets-list">
                <li><button class="recent-ticket"><div class="recent-icon"><i class="fas fa-bus"></i></div>Skøyen</button></li>
                <li><button class="recent-ticket"><div class="recent-icon"><i class="fas fa-train"></i></div>Ski</button></li>
            </ul>
        </div>
    </div>
    <!-- RECENT TICKETS AREA END -->

    <div class="row">
        <div class="col-12 mt-4">
            <h2 class="sub-title">Favoritter</h2>
        </div>
    </div>

    <!-- FAVORITES AREA -->
    <div class="row">
        <div class="col-12 mt-1">
            <div id="favorites-bar">
                <div class="row">

                    <div class="col-3">
                        <div class="favorite-cont">
                            <button class="favorite-btn" id="home-btn"><i class="fas fa-home"></i></button>
                            <p class="favorite-txt">Hjem</p>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="favorite-cont">
                            <button class="favorite-btn" id="work-btn"><i class="fas fa-briefcase"></i></button>
                            <p class="favorite-txt">Jobb</p>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="favorite-cont">
                            <button class="favorite-btn" id="airport-btn"><i class="fas fa-plane"></i></button>
                            <p class="favorite-txt">Flyplass</p>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="favorite-cont">
                            <button class="favorite-btn" id="school-btn"><i class="fas fa-graduation-cap"></i></button>
                            <p class="favorite-txt">Skole</p>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="favorite-cont">
                            <button class="favorite-btn" id="newshortcut-btn"><i class="fas fa-plus"></i></button>
                            <p class="favorite-txt">Ny</p>
                        </div>
                    </div>

                </div><!-- .row -->
            </div><!-- .favorites-bar -->
        </div>
    </div><!-- .row -->
    <!-- FAVORITES AREA END-->
</div><!-- .container -->